@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1938;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 60%;
  height: 446px;
  background-color: white;
  display: flex;
}

.right-side {
  flex: 50%;

  background-color: rgb(76, 26, 122);
  overflow: hidden;
}

.left-side {
  flex: 50%;
  background-color: #2b2658;
  display: flex;
}

.left-about {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.main-header {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  width: 75%;
  text-align: center;
}

.text {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  width: 90%;
}

.liczby {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
}

.numbers {
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  font-weight: 500;
  color: white;
}

#purple {
  color: purple;
}

#description {
  color: rgb(136, 136, 136);
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase;
}

.image {
  object-fit: cover;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}
