@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #b8ceff;
  background-image: url("./img/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: white;
  height: 80%;
  width: 500px;
  border-radius: 5%;

  display: flex;
  flex-direction: column;
}

.up {
  height: 30%;
  display: flex;
}

.hero-img {
  width: 100%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.down {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  padding: 5%;
  /* width: 80%; */
}

.order-header {
  /* margin-top: 0px; */
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  color: #2f2f2f;
}

.about-p {
  margin-top: 20px;
  width: 70%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #93979b;
}

.plan-box {
  background-color: #f3f6fd;
  margin-top: 50px;
  border-radius: 20px;
  width: 80%;
  height: 110px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.plan-type {
  margin-left: -60px;
  line-height: 1.5em;
  color: #4d4d4d;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.icon-music {
  height: 60%;
}

.change {
  color: rgb(131, 87, 214);
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  text-decoration: underline;
}

#price {
  color: #93979b;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

.proceed-box {
  background-color: #4b4bce;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 650;
  width: 80%;
  height: 60px;
  margin-top: 20px;
  line-height: 60px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 16px 45px 0px #a0a0e0;
}
